<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Happy Face
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Happy Face</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <img src="assets/smiley.svg" alt="smiley" width="170" height="170" />
    </div>
    <strong>Current Position</strong>
    <p *ngIf="currentPosition" class="ion-padding-bottom">
      {{currentPosition.coords.latitude}}, {{currentPosition.coords.longitude}}
    </p>
    <ion-item mode="block" class="ion-margin-horizontal">
      <ion-label position="stacked">Phone #</ion-label>
      <ion-input type="tel" name="phoneNumber" [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>
    <ion-button disabled="{{!phoneNumber}}" class="ion-margin-top" (click)="sendSMS()">Send Position via SMS</ion-button>
  </div>
</ion-content>
